---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brainstory | Sharing">
	<h1>Welcome to Brainstory!</h1>
	<p>
		Head over to the <a href="https://app.brainstory.ai"> Brainstory app</a>
		to think smarter, not harder.
	</p>

	<p>
		You can also check out our:
		<ul>
			<li><a href="https://brainstory.ai">Homepage</a></li>
			<li><a href="https://blog.brainstory.ai">Blog</a></li>
			<li><a href="https://twitter.com/contendaco">Twitter</a></li>
			<li>
				<a href="https://www.linkedin.com/company/contendaco/"
					>LinkedIn</a
				>
			</li>
			<li><a href="https://youtu.be/dQw4w9WgXcQ">Secret Formula</a></li>
		</ul>
	</p>
</Layout>
