---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Contenda Sharing!">
	<main>
		<h1>Welcome to <span class="text-gradient">Contenda</span></h1>
		<p>
			There's nothing to see here, head over to the <a
				href="https://contenda.co">Contenda website</a
			> to learn more.
		</p>
	</main>
</Layout>
