---
import { Markdown } from "astro-remote";
import Layout from "../../layouts/Layout.astro";

let markdown = Astro.request.headers.get("markdown");

async function getDate() {
	return new Date().toLocaleString();
}
const date = await getDate();

if (markdown === undefined || markdown === null) {
	markdown = "No blog content found!";
}
---

<Layout title="Contenda Blog Preview!">
	<main>
		<h1>Welcome to <span class="text-gradient">Contenda</span></h1>

		<div class="blog">
			<Markdown
				content={markdown}
				sanitize={{
					dropAttributes: { style: ["*"] },
					allowComments: true
				}}
			/>
		</div>

		<hr />

		<p>Page generated at: {date}</p>

		<p class="instructions">
			Received request headers:
			<code>
				{JSON.stringify(Object.fromEntries(Astro.request.headers))}
			</code>
		</p>
	</main>
</Layout>
