---
import { Markdown } from "astro-remote";
import Layout from "../../layouts/Layout.astro";
const markdown = Astro.request.headers.get("markdown");

async function getDate() {
	return new Date().toLocaleString();
}
const date = await getDate();
---

<html>
	<Layout title="Contenda Blog Preview!">
		<h1>My ODB post page, let's find out if it works</h1>

		<p>
			Received request headers:
			<code>
				{JSON.stringify(Object.fromEntries(Astro.request.headers))}
			</code>
		</p>

		<Markdown content={markdown} />

		<p>Page generated at: {date}</p>
	</Layout>
</html>
