---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<title>{title}</title>

		<!-- OG -->
		<!-- TODO: Add OG images and final site URL -->
		<meta property="og:title" content="Contenda Blog Preview" />
		<meta property="og:site_name" content="Contenda Blog Preview" />
		<!-- <meta property="og:url" content="" /> -->
		<meta
			property="og:description"
			content="Preview your Contenda-generated blog posts before publishing them"
		/>
		<meta property="og:type" content="website" />
		<!-- <meta property="og:image" content="" /> -->
		<meta property="twitter:card" content="summary_large_image" />
		<!-- <meta property="twitter:url" content="" /> -->
		<meta property="twitter:title" content="Contenda Blog Preview" />
		<meta
			property="twitter:description"
			content="Preview your Contenda-generated blog posts before publishing them"
		/>
		<!-- <meta
			property="twitter:image"
			content=""
		/> -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<nav>
			<a href="https://contenda.co"><img src="/logo.png" /></a>
			<a href="https://app.contenda.co" class="link-button">
				Give Contenda a Try!
			</a>
		</nav>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--dark-bg: #171d27;
		--light-bg: #ffffff;
		--blue: #4682b4;
		--green: #6ce385;
		--buttons: #4c5d88;
		--accent-blue: #7796cb;
		--yellow: #ffeed6;
	}

	* {
		box-sizing: border-box;
	}

	html {
		font-family: "Inter", sans-serif;
		background-color: var(--dark-bg);
		margin: 0;
		padding: 0;
		height: 100%;
	}

	body {
		background-color: var(--light-bg);
		max-width: 56rem;
		margin: 0 auto;
		padding-top: 2.25rem;
		min-height: 100%;
	}

	a {
		color: var(--buttons);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
		color: var(--accent-blue);
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 5.5rem;
		margin-bottom: 2.5rem;
	}

	nav img {
		width: 156px;
	}

	nav a {
		text-decoration: none;
		cursor: pointer;
		transition: background 0.2s ease-in-out;
	}

	.link-button {
		padding: 0.75rem 1.5rem;
		background: var(--buttons);
		color: white;
		border-radius: 4px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.link-button:hover {
		background: #35415f;
	}

	main {
		margin: auto;
		/* padding: 1.5rem; */
		max-width: 37.5rem;
	}
	h1 {
		margin: 0;
		margin-bottom: 2.5rem;
		font-size: 1.875rem;
		font-weight: 500;
		line-height: 2.5rem;
		text-align: center;
	}

	p {
		margin: 1.5rem 0;
	}

	.blog {
		line-height: 1.25rem;
	}

	.blog img {
		max-width: 100%;
	}

	.blog-end {
		max-width: 33.75rem;
		margin: 0 auto;
		padding: 0.75rem 2rem;
		background-color: var(--yellow);
		border-radius: 4px;
		font-size: 0.8rem;
		text-align: center;
	}

	.blog-end a {
		color: black;
		font-weight: 700;
	}

	.small {
		font-size: 0.8rem;
		opacity: 0.5;
	}
</style>
